.episodeBox {
  width: 100vw;
  height: auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(3, auto);
}

.eipsodeName {
  grid-row: 1;
  margin: 1vh;
  font-size: 400%;
  text-decoration: underline;
  height: 20;
}

.episodeDesc {
  grid-row: 2;
  font-size: 150%;
  margin-top: 3vh;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 20;
}

.episodeInfoBox {
  display: flex;
  grid-row: 3;
  width: 40vw;
  margin-top: 10vh;
  margin-right: 30vw;
  margin-left: 30vw;
  display: flex;
  position: relative;
  justify-content: center;
}

.episodeInfo {
  display: block;
  font-size: 120%;
  position: absolute;
  bottom: 0;
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .episodeInfoBox {
    display: none;
  }
}
