@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

.videoContainer {
  height: 91vh;
  width: 99.8vw;
}

.video {
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  color: black;
  transform: translate(-50%, -50%);
  font-size: 90px;
  left: 29%;
  top: 20%;
  font-family: "Rock Salt", cursive;
}
