.storeContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  background: rgb(193, 190, 190);
}

.storeBox {
  margin-top: 2.5rem;
  grid-area: auto;
}

.storeImg {
  width: 30vw;
  height: auto;
  border: 5px solid black;
}
