* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

#navList {
  display: grid;
  grid-template-columns: repeat(6 1fr);
  grid-template-rows: auto;
  padding-top: 10px;
  background: rgb(80, 79, 79);
  border-bottom: 4px solid black;
}

.navItems {
  background-color: rgb(80, 79, 79);
  grid-column: auto;
  color: white;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.dropdownContent {
  display: none;
  opacity: 0.8;
  position: absolute;
  border-radius: 10px;
  padding-top: 2rem;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown:hover .dropdownContent {
  display: block;
  margin-left: 50px;
  background-color: rgb(80, 79, 79);
}

.dropdownItem {
  text-align: left;
  padding: 5px;
  font-size: 20px;
}

.dropdownLink {
  color: white;
}

.navItems:link {
  text-decoration: none;
}

.navItems:visited {
  text-decoration: none;
}

.navItems:hover {
  text-decoration: none;
}

.navItems:active {
  text-decoration: none;
}

.dropdownLink:link {
  text-decoration: none;
}

.dropdownLink:visited {
  text-decoration: none;
}

.dropdownLink:hover {
  text-decoration: none;
}

.dropdownLink:active {
  text-decoration: none;
}

#firstNav {
  grid-column: 1;
}
#secondNav {
  grid-column: 2;
}
#thirdNav {
  grid-column: 3;
}
#fourthNav {
  grid-column: 4;
}
#fifthNav {
  grid-column: 5;
}
#sixthNav {
  grid-column: 6;
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  .navItems {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 401px) and (max-width: 1000px) {
  .navItems {
    font-size: 1.5rem;
  }
}
